.report-layout {
    overflow: auto;
    font-family: "Simplehae" !important;
    margin: 2.5%;
    width: 95%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode: lighten;
    border-radius: 3rem;
    margin: 0.1rem;
}

.title {
    width: 90%;
    font-size: 2rem;
    align-self: flex-start;
    margin-left: 2.5rem;
    margin-top: 0.7rem;
}

.label {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    text-align: right;
    white-space: normal;
    font-family: inherit;
    font-size: 1rem;
    justify-content: right;
    margin-right: 2.5rem;
    margin-top: 0.7rem;
}

.item {
    width: 80%;
    max-width: 99%;
    margin: 0.2rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-direction: row;

    white-space: normal;
}

.info {
    width: 15%;
    text-align: right;
    white-space: normal;
    margin: inherit;
}

.content {
    width: 75%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.input {
    width: 100%;
    height: 2rem;
    min-height: 2rem;
    margin: 0.2rem;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 0.5rem 0.0rem 0.5rem 0.5rem;
    background-color: rgba(255, 255, 255, 0.4);
}

.loc-container {
    width: 100%;
    display: flex;
    flex-flow: row;
}

.loc-input {
    width: 80%;
    height: 2rem;
    min-height: 2rem;
    margin: 0.2rem;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 0.5rem 0.0rem 0.5rem 0.5rem;
    background-color: rgba(255, 255, 255, 0.4);
}

.loc-button {
    margin: 0.2rem;
    width: 15%;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #88C99C;
    border-radius: 0.5rem;

}

.map-container {
    min-height: 10vh;
}

.map {
    min-height: 30vh;
    border-radius: 0.5rem;
}

.locations {
    min-height: 2rem;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.payments {
    display: flex;
    flex-flow: row wrap;
}

.map-button {
    margin: 0.2rem;
    width: 100%;
    height: 2rem;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #88C99C;
    border-radius: 0.5rem;
}

.register-button {
    width: 100%;
    height: 3rem;
    min-height: 3rem;
    font-size: 1.5rem;
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F8A69B;
    border-radius: 0.5rem;
}

.delete-button {
    width: 100%;
    height: 3rem;
    min-height: 3rem;
    font-size: 1.5rem;
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #d0d0d0;
    border-radius: 0.5rem;
}

.image-uploader {
    min-height: 10vh;
    background: #F9F8FD;
    ;

}

.categories {
    display: flex;
    flex-flow: row wrap;

}

.chip {
    margin: 0.1rem;
}

.description {
    width: 100%;
    resize: none;
    min-height: 2rem;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px 0px 10px 10px;
    background-color: rgba(255, 255, 255, 0.4);
}